{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<div class="row row-cols-sm-2 row-cols-md-3 g-4">
  {% for product in products %}
    <div class="col">
      <div class="card h-100">
        <a href="{{ path('app_product_show', {'id': product.id}) }}">
          <img src="{{ product.getImage }}" class="card-img-top" alt="{{ product.getNom }}">
        </a>
        <div class="card-body">
          <a href="{{ path('app_product_show', {'id': product.id}) }}">
            <h5 class="card-title">{{ product.getNom }}</h5>
          </a>
          <p class="card-text">{{ product.getPrice }} euros</p>
          <button class="btn btn-primary add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<script>
  const addToCartButtons = document.querySelectorAll(".add-to-cart");

  addToCartButtons.forEach(button => {
    button.addEventListener("click", function() {
      const productId = this.getAttribute("data-product-id");

      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/cart/add");
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

      xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
          const response = JSON.parse(this.responseText);
          alert("Le produit a été ajouté à votre panier")
        }
      };

      const data = "productId=" + productId;
      xhr.send(data);
    });
  });
</script>
{% endblock %}
