{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>
    <div class="row">
        {% for product in products  %}
			<div class="col" style = "max-weight = 300px">
					<div class="card">
						<a href={{ path('app_product_show',{id:product.id}) }}>
						<img src="" alt="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{product.getNom}}</h5>
							<img src="{{product.getImage}}">
							<div class="row">
								<a href="" class="btn btn-danger" style="max-height: 35px;margin-top:12px;">Ajouter au panier</a>
								<p> {{product.getPrice}} <b>euros</b></p>
							</div>
						</div>
					</div>
			</div>
    {% endfor %}
    </div>
    <a href="{{ path('app_category_index') }}">back to list</a>

{% endblock %}
